.info {
  width: 90%;
  height: 50px;
  margin-top: 30px;
  margin-left: 70px;
  background-color: #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label, input {
  margin-left: 10px;
}